# created by virtualenv automatically
CACHEDIR.TAG
pyvenv.cfg
lib/python3.8/site-packages/
bin
share
static/.DS_Store
.DS_Store
image.jpg
mobileclip_blt.pt
simple_yoloe_test.py
yoloe-11s-seg.pt
model-config
__pycache__/
